@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;300&family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,600&display=swap');
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.app {
    width: 400px;
    height: 447px;
    border: 1px rgba(75, 75, 75, 0.555) solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0 , 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Saira', sans-serif;
    color: rgba(0, 0, 0, 0.282); 
    margin-top: 0;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.427);
    text-shadow: 2px 1px #ffffff61;
   
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.card {
    background: #191c29;
    background: white;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    font-family: cursive;
}

.card::before {
    content: "";
    width: 104%;
    height: 104%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    animation: spin 10s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}