/* add item css */
.add-item{
    display: flex;
    align-items: center;
}
input{
    min-width: 295px;
    height: 43px;
    border-radius: 3px 3px 3px 3px;
    border: 1px rgba(128, 128, 128, 0.433) solid;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    margin-right: 6px;
    font-size: 20px;
    padding-left: 15px;
}

::placeholder{
    font-size: 20px;
}

mat-icon{
    font-size: 32px;
    font-weight: bold;
    background-color: #904ae7;
    color: white;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 46px;
    
}

button{
    width: 50px;
    height: 45px;
    cursor: pointer;
}
/* ========================================================================== */
/* list css */
.mat-list-base .mat-list-item{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    height: 46px;
    margin-bottom: 6px;
}

.item{
    display: flex;

}

.item mat-icon{
    background-color: #F2F2F2;
    color: #d3389a;
    border-radius: 0px 3px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 47px;
    height: 46px;
    font-family: 'Material Icons';
}
/* ========================================================================== */
.list{
    height: 315px;
}
/* ========================================================================== */
/* Clear All */
*{
    /* font-family: 'Poppins', sans-serif; */
}
.btnclearall{
    width: 82px;
    height: 36px;
    color: white;
    background-color: #f1127af3;
    border-radius: 4px;
    font-size: 15px;
    border: 1px white solid;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;    

}
.btnclearall:hover {
    background-color: #f01e80f3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* ========================================================================== */
/* edit button /*
/* ========================================================================== */

/* .editBtn {
    
}
.editBtn:hover{
    opacity: 1;
}

.item:hover + .editBtn { 
    background-color: yellow; }
 */
/* .item {
    background-color:;
} */
/* #item0:hover > #editBtn0{
    opacity: 1;
} */

p{
    color: white;
    color: black;
    font-size: 70%;
}

