/* add item css */
.add-item{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.addInput{
    min-width: 295px;
    height: 43px;
    border-radius: 3px 3px 3px 3px;
    border: 1px rgba(128, 128, 128, 0.433) solid;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    margin-right: 6px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow:  5px 5px 5px #bebebe,
                0px 0px 5px #ffffff;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important;
}
input:focus-visible{
    outline: rgba(107, 106, 106, 0.433) 2px; 

}

::placeholder{
    font-size: 20px;
}

mat-icon{
    font-size: 32px;
    font-weight: bold;
    background-color: #904ae7;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 46px;
    
    
}

button{
    width: 50px;
    height: 45px;
    cursor: pointer;
}
/* ========================================================================== */
/* list css */
.mat-list-base .mat-list-item{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    background-color: white;
    height: 46px;
    margin-bottom: 6px;
    text-align: initial;
}
.mat-list-item-content{
    padding: 0 !important;
}
span{
    padding: 0 !important;
}

.item{
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow:  0px 5px 5px #bebebe,
                0px 0px 5px #ffffff;
}
.flex{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}

.task{
    width: 95%;
}
.taskinput{
    border: none; 
    background: transparent; 
    outline: 0;
}

:host ::ng-deep .mat-list-item-content {
     padding: 0 !important; }

.item mat-icon{
    background-color: #f2f2f2;
    background-color: white;
    color: #d3389a;
    border-radius: 0px 3px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 47px;
    height: 46px;
    font-family: 'Material Icons';
}
/* ========================================================================== */
.list{
    height: 315px;
}
/* ========================================================================== */
/* Clear All */
 
.btnclearall{
    width: 82px;
    height: 36px;
    color: white;
    background-color: #f1127af3;
    border-radius: 4px;
    font-size: 15px;
    border: 1px white solid;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;    
    border-radius: 5px;
    box-shadow:  5px 5px 5px #bebebe,
             0px 0px 5px #ffffff;
    

}
.btnclearall:hover {
    background-color: #f01e80f3;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #bebebe,
            0px 0px 5px #ffffff,
            rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
/* ========================================================================== */
/* edit button /*
/* ========================================================================== */
    
.addIcon {
        border-radius: 5px;
        box-shadow:  5px 5px 5px #bebebe,
                0px 0px 5px #ffffff;
}

.addIcon:hover {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #bebebe,
            0px 0px 5px #ffffff,
            rgba(255, 255, 255, 0.176) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.176) 0px 18px 36px -18px inset;

}

/* ========================================================================== */
#clearAll{
    color: white;
    color: black;
    font-size: 70%;
}
 

.mat-list-base{
    padding-top: 0;
}
