<div class="list">
    <div class="add-item">
        <input #inputItem placeholder="Add a new task" (keyup.enter)="addItem(inputItem.value)">
        <button (click)="addItem(inputItem.value)" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <!-- ------------------------------------------------------------------------------- -->
    <mat-list>
        <div *ngFor="let item of items; index as i">
            <div class="item" *ngIf="getItems[i] != undefined">
                <button mat-icon-button (click)="check(i)">
                    <mat-icon *ngIf="getItems[i].charAt(getItems[i].length -1) == '0'; 
                else box">check_box_outline_blank</mat-icon>
                    <ng-template #box>
                        <mat-icon>check_box</mat-icon>
                    </ng-template>
                </button>
                <mat-list-item style="text-decoration: line-through;"
                    *ngIf="getItems[i].charAt(getItems[i].length -1) == '1'; else unchecked">
                    {{getItems[i].slice(0, -1)}}</mat-list-item>
                <ng-template #unchecked>
                <mat-list-item > {{getItems[i].slice(0, -1)}} </mat-list-item>
                </ng-template>
                <button mat-icon-button (click)="removeItem(i)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
    </mat-list>
</div>
<!-- ------------------------------------------------------------------------------- -->
<div BtnClearAll clearAllDiv>
    <p>You have {{items.length}} pending tasks</p>
    <button class="btnclearall" (click)="clearAll()">Clear All</button>
</div>