<div class="list">
    <div class="add-item">
        <input #inputItem placeholder="Add a new task" (keyup.enter)="addItem(inputItem.value)">
        <button (click)="addItem(inputItem.value)" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <!-- ------------------------------------------------------------------------------- -->
    <mat-list>
        <div *ngIf="getItems[0].length >= 4">
            <div class="item">
            <button mat-icon-button (click)="check()">
                <mat-icon *ngIf="checkbox1!=true">check_box_outline_blank</mat-icon>
                <mat-icon *ngIf="checkbox1==true">check_box</mat-icon>
            </button>
            <mat-list-item style="text-decoration: line-through;" *ngIf="checkbox1==true"> {{getItems[0]}}</mat-list-item>
            <mat-list-item *ngIf="checkbox!= true"> {{getItems[0]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(0)">
                <mat-icon>clear</mat-icon>
            </button>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[1].length >= 4">  
            <mat-list-item> {{getItems[1]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(1)">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[2].length >= 4">
            <mat-list-item> {{getItems[2]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(2)">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[3].length >= 4">
            <mat-list-item> {{getItems[3]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(3)">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
                <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[4].length >= 4">
            <mat-list-item> {{getItems[4]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(2)">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
    </mat-list>
</div>
    <!-- ------------------------------------------------------------------------------- -->
    <div BtnClearAll clearAllDiv>
        <p>You have {{items.length-5}} pending tasks</p> 
        <button class = "btnclearall" (click)="clearAll(getItems.length)">Clear All</button>
    </div>