<div class="list">
    <div class="add-item">
        <input #inputItem placeholder="Add your new task" (keyup.enter)="addItem(inputItem.value)">
        <button (click)="addItem(inputItem.value)" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <!-- ------------------------------------------------------------------------------- -->
    <mat-list>
        <div class="item" *ngIf="getItems[0].length > 3">
            <mat-list-item> {{items[0]}}
            </mat-list-item><button mat-icon-button (click)="removeItem(0)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[1].length> 3">
            <mat-list-item> {{items[1]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(1)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[2].length > 3">
            <mat-list-item> {{items[2]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(2)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
        <div class="item" *ngIf="getItems[3].length > 3">
            <mat-list-item> {{items[3]}} </mat-list-item>
            <button mat-icon-button (click)="removeItem(3)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list>
    <!-- ------------------------------------------------------------------------------- -->
    <!--     <mat-form-field appearance="fill">
      <mat-label>Digite um aluno</mat-label>
      <input matInput placeholder="ex.: Bruna" #inputAluno (keyup.enter)="add(inputAluno.value)">
    </mat-form-field> -->
    <!-- <button mat-raised-button color="primary" (click)="add(inputAluno.value)">Adicionar</button> -->
</div>